.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f9c3c1;
    color: white;
    padding: 0.5rem;
  }
  
  .logo {
    display: flex;
    
    font-size: 1.5em;
  }
  
  nav ul {
    display: flex;
    list-style-type: none;
  }
  
  nav ul li {
    margin: 0 15px;
  }
  
  .search-bar input {
    padding: 5px;
  }

  .img {
    margin-right: 20px;
  }